@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');

body {
  background-color: #434e54;
  font-family: 'Roboto', sans-serif;
  margin: 0;

  --dark-bkg: #212321;
  --light-text-color: white;
  --y-highlight: #ffeb3b;
  --b-highlight: #f0f0d4;
  --l-highlight: #bfccd3;
  --ll-highlight: #b9cbd5;
  --border-radius: 10px;
}

.App {
  text-align: center;
  
  --u: #1f4760;
  --p: #503955;
  --w: #907565;
  --r: #562422;
  --g: #212321;
}

.card.u {
  background-color: var(--u);
}

.card.p {
  background-color: var(--p);
}

.card.w {
  background-color: var(--w);
}

.card.r {
  background-color: var(--r);
}

.card.g {
  background-color: var(--g);
}

h1 {
  color: var(--l-highlight);
  margin: 0 0 1rem 0;
  padding: 2rem 0 .5rem 0;
  font-size: 2em;
  letter-spacing: 9px;
  text-transform: uppercase;
  margin: 0;
}

p {
  margin: 0;
  color: var(--light-text-color);
  font-size: .9em;
}

.header {
  margin: 0 auto;
}

.scoreboard {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;

  width: 500px;
  margin: 0 auto 0 auto;
  height: 8rem;
  background: var(--l-highlight);

  outline: 1px solid var(--l-highlight);
  outline-offset: -1px;
}

.scoreboard p {
  color: var(--dark-bkg);
  margin: 0 1.5em;
}

.instructions {
  font-size: .8em;
    border-bottom: 1px solid;
    padding: .5rem;
    font-weight: 300;
}

.personal-score {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  font-size: 1em;
  margin: 1rem 0;
  font-weight: 600;
}

.perfect-score {
  border-top: 1px solid;
  padding: .5rem;
  font-size: .9em;
  font-weight: 300;
}

.difficulty-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 0 auto 2em auto;
  width: 500px;
}

.btn {
  width: 25%;
  padding: .7em 0;
  border: none;
  cursor: pointer;
  background-color: var(--dark-bkg);
  color: var(--light-text-color)
}

.btn:hover {
  outline: 1px solid var(--l-highlight);
  outline-offset: -4px;
  transition: 50ms;
}

.btn:focus {
  outline: none;
  outline-offset: none;
}

.selected {
  background-color: var(--l-highlight);
  font-weight: 700;
  color: #212321;
}

/* CARD STYLES */

    /* DIFF SIZES PER DIFFICULTY */
    .card1 {
      background: var(--dark-bkg);
      width: 200px;
      height: 300px;
      border-radius: var(--border-radius);
      padding: .5rem;
      margin: 1rem;
      cursor: pointer;
    }
      .card1 h2 {
        font-size: 1em;
        margin-bottom: .5em;
      }
      .card1 .artist {
        font-size: .8em;
      }
    .card2 {
      background: var(--dark-bkg);
      
      width: 180px;
      height: 260px;
      
      border-radius: var(--border-radius);
      padding: .5rem;
      margin: 1rem;
      cursor: pointer;
    }
      .card2 h2 {
        font-size: .9em;
        margin-bottom: .5em;
      }
      .card2 .artist {
        font-size: .8em;
      }
      .card3 {
        background: var(--dark-bkg);
        
        width: 180px;
        height: 260px;
        
        border-radius: var(--border-radius);
        padding: .5rem;
        margin: 1rem;
        cursor: pointer;
      }
        .card3 h2 {
          font-size: .9em;
          margin-bottom: .5em;
        }
        .card3 .artist {
          font-size: .8em;
        }
    .card4 {
      background: none;
      width: 200px;
      height: auto;
      margin: .5rem;
      cursor: pointer;
    }
      .card4 h2 {
        display: none;
      }
      .card4 .artist {
        display: none;
      }
      .card4 img {
        width: 100%;
        height: 100%;
      }

.card-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.card {
  background: #212321;
  height: 400px;
  width: 300px;
  border-radius: var(--border-radius);
  padding: .5rem;
  margin: 1rem;
  cursor: pointer;
}

/* .card1:hover {
  outline: 1px solid var(--l-highlight);
  outline-offset: 8px;
} */

h2 {
  color: var(--light-text-color);
  margin: .3em 0;
  font-size: 1.3em;
  font-weight: 100;
}

img {
  width: 90%;
  height: 80%;
  object-fit: cover;
  border-radius: var(--border-radius);
}

.artist {
  margin: .5em 0;
  font-weight: 100;
}

@media (min-width:1900px) { /* big landscape tablets, laptops, and desktops */ 
  .card-container {
    margin: 0 200px;
  }
}